{% extends 'papers/base.html' %}

{% block title %}Fetch Papers and Trends{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Trends analysis</h1>
    <p>Select a discipline to fetch papers:</p>
    <form method="get" action="{% url 'fetch_papers' %}">
        <div class="form-group">
            <label for="discipline">Discipline:</label>
            <select class="form-control" id="discipline" name="discipline">
                <option value="machine_learning">Machine Learning</option>
                <option value="loss_functions">Loss Functions</option>
                <option value="natural_language_processing">Natural Language Processing</option>
                <option value="computer_vision">Computer Vision</option>
                <option value="table_recognition">Table recognition</option>
                <!-- Add more disciplines as needed -->
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Fetch Papers</button>
    </form>
    <h2 class="mb-3 w-100" style="text-align: center;">Machine Learning Paper Trends</h2>
    <p>Compute trending paper: computes and displays the 5 most representative papers from the previous week</p>
    <a href="{% url 'trends-closest' %}" class="btn btn-primary btn-lg mb-2 w-100"><i class="fas fa-chart-line"></i> Compute Trending Paper</a>
    <div class="my-4">
        
        <h3 style="text-align: left;">Use the buttons below to compute the trending paper or view the trends scatter plot.</h3>
        <div>
            <form method="get" action="{% url 'trends-scatter' %}">
                <div class="form-group">
                    <label for="comparison_discipline">Comparison Dataset:</label>
                    <select class="form-control" id="comparison_discipline" name="comparison_discipline">
                        <option value="machine_learning">Machine Learning</option>
                        <option value="loss_functions">Loss Functions</option>
                        <option value="natural_language_processing">Natural Language Processing</option>
                        <option value="computer_vision">Computer Vision</option>
                        <option value="Table_recognition">Table recognition</option>
                        <!-- Add more disciplines as needed -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">View Trends Scatter Plot</button>
            </form>
        </div>
    </div>
</div>

<style>
    .container {
        max-width: 800px;
    }

    .my-4 {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .btn-lg {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-lg i {
        margin-right: 5px;
    }

    .mb-2 {
        margin-bottom: 1rem !important;
    }
</style>
<html>
<head>
    <title>Run Populators</title>
</head>
<body>
    <h1>Run Populators</h1>
    <p> To compare recent paper in a field to a cannonical group of papers in that field, there needs to be a comprehensive canonical group. Pressing the button below populates the internal database with cannonical groups from all of the catagories you are able to select from the dropdown menu. As this involves collecting and embedding on the order of 1 million papers, this takes a long time to run. Ideally, only run this every few months.</p>

    <form method="post" action="{% url 'run_populators' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary w-100">Run Populators</button>
    </form>
    <p> </p>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
{% endblock %}
